body{
  background-color: white;
}

.masthead-nav > .c > a,
.masthead-nav > .c > a:hover,
.masthead-nav > .c > a:focus {
  color: #000;
  border-bottom-color: #000;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #000; /* IE8 proofing */
  color: rgba(0,0,0,.85);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(0,0,0,.25);
}

.masthead-brand{
  color: black;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    color: black;
    font-size: 1em;
    font-family: helvetica;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow:none;
}
input,textarea {
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  color: black;
  font-size: 1em;
  font-family: helvetica;
  border-radius: 0.3em;
  border-color: black;
  border-width: .2em;
  border-style: solid;
}

form .error{
  border-color: red;
}

#name-error,#email-error, #tarea-error{
  padding-right: 6em;
  clear:both;
  width: 100%
}
